<html>
    <head>
        <title>
            Boston Data
        </title>
    </head>

    <body>
        <h1 style="color:orange ;">  boston data </h1>

        <form method="post" action="/boston">
            <label>CRIM</label>
            <input name='CRIM' type="text" /><br><br>
            <label>ZN</label>
            <input name='ZN' type="text" /><br><br>
            <label>INDUS</label>
            <input name='INDUS' type="text" /><br><br>
            <label>CHAS</label>
            <input name='CHAS' type="text" /><br><br>
            <label>NOX</label>
            <input name='NOX' type="text" /><br><br>
            <label>RM</label>
            <input name='RM' type="text" /><br><br>
            <label>AGE</label>
            <input name='AGE' type="text" /><br><br>
            <label>DIS</label>
            <input name='DIS' type="text" /><br><br>
            <label>RAD</label>
            <input name='RAD' type="text" /><br><br>
            <label>TAX</label>
            <input name='TAX' type="text" /><br><br>
            <label>PTRATIO</label>
            <input name='PTRATIO' type="text" /><br><br>
            <label>B</label>
            <input name='B' type="text" /><br><br>
            <label>LSTAT</label>
            <input name='LSTAT' type="text" /><br><br>
            <br><br>
            <input type="submit" />
            <br><br>
        <h1>{{ price }}</h1>








        </form>
    </body>
</html>